---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="estudos">
        
				<tittle>Estudos</tittle>
				<p>
					<strong>Setembro 2020-Setembro 2021:</strong> Mestrado de Estudos
					Avanzados en Museos, Arquivos e Biblitecas na Universidade da
					Coruña.
				</p>
				<p>
					<strong>Setembro 2019-Xuño 2020:</strong> Mestrado en Historia
					Moderna: Monarquía Hispánica, séculos XVI-XVIII na Universidade
					de Santiago de Compostela.
				</p>
				<p>
					<strong>Setembro 2015-Xuño 2019:</strong> Grao en Historia pola
					Universidade de Santiago de Compostela.
				</p>
				<h1>Cursos</h1>
				<p>
					14/11/2022-04/12/2022: Curso “Planificación Cultural en las
					Bibliotecas: Una práctica intuitiva”. 15 horas. Impartido
					por ANABAD, a través de medios telemáticos.
				</p>
				<p>
					21/11/2022-16/12/2022: Curso “Digitalización de documentos”.
					45 horas. Impartido por el SEDIC, a través de medios
					telemáticos.
				</p>
				<p>
					10/11/2022-12/12/2022: Curso “Sensibilación en igualdad de
					oportunidades”. 30 horas. Impartido por la Escuela Virtual
					de Igualdad del Ministerio de Igualdad, a través de medios
					telemáticos.
				</p>
				<p>
					03/11/2022-16/12/2022: Curso “Digitalización aplicada al
					sector productivo”. 30 horas. Impartido por la CEOE y el
					MInisterio de Educación y Formación Profesional, a través de
					medios telemáticos.
				</p>
				<p>
					06/10/2022-28/11/2022: Curso “Tasación de materiales
					bibliográficos”. 45 horas. Impartido por el SEDIC, a través
					de medios telemáticos
				</p>
				<p>
					09/09/2022-21/12/2022: Formación “Especialista en Márketing
					Digital”. 130 horas. Impartido por el SEPE para la formación
					en el empleo, a través de medios telemáticos.
				</p>
				<p>
					16/05/2022-16/06/2022: Curso “Fundamentos de la catalogación
					con RDA (revisión 2016) y MARC21”. 40 horas. Impartido por
					ANABAD, a través de medios telemáticos.
				</p>
				<p>
					14/02/2022-18/02/2022: Curso “Formación de Scopus”. 10
					horas. Impartido por la Fundación Española para la Ciencia y
					la Tecnología, a través de medios telemáticos.
				</p>
				<p>
					17/01/2022-28/02/2022: Curso “De la creación a la librería.
					Cómo se hace un escritor y como trabaja un escritor en
					España”. 60 horas. Impartido por la Dirección General del
					Libro y Fomento de la Lectura del Ministerio de Cultura y
					Deporte, a través de medios telemáticos.
				</p>
				<p>
					02/11/2021-23/12/2021. Curso “Gestión de Proyectos de
					Patrimonio Cultural”. 50 horas. Impartido por el Instituto
					de Gestión Cultural y Artística, a través de medios
					telemáticos.
				</p>
				<p>
					17/12/2021-18/12/2021: Curso “Auxiliar de protocolo y
					atención al cliente”. 10 horas. Impartido por Heima Tours
					Galicia S.L en Santiago de Compostela.
				</p>
				<p>
					16/10/2021-30/10/2021: Curso “Producción de Exposiciones
					Bibliográficas”. 10 horas. Impartido por ANABAD Castilla La
					Mancha, a través de medios telemáticos.
				</p>
				<p>
					4/10/2021-31/10/2021: Curso “Conservación de patrimonio
					documental y bibliográfico. 7a edición”. 40 horas. Impartido
					por ANABAD, a través de medios telemáticos.
				</p>
				<p>
					4/05/2020: Participación como ponente en el VIII Taller de
					Jóvenes Investigadores en Historia Moderna con la ponencia:
					"Una breve aproximación a la defensa costera de Galicia
					durante la Guerra de Sucesión", a través de medios
					telemáticos.
				</p>
				<p>
					13/10/2019: Curso GIS para investigadores en Historia e
					Historia del Arte. 10 horas. Impartido por Rubén Castro
					Redondo en la Facultad de Geografía e Historia de la USC.
				</p>
				<p>
					10/09/2018-14/09/2018: Asistencia al Curso de Inmersión en
					Lingua Inglesa. 40 horas. Apto en Nivel B1 en agilidad oral.
					Organizado por la Universidad Internacional Menéndez Pelayo
					en la sede de Sevilla.
				</p>

				<h1>Idiomas e demáis habilidades</h1>
				<p>Galego: certificado CELGA 4.</p>
				<p>
					Inglés: certificado B1 pola EOI. Actualmente cursando o
					nivel B2.
				</p>
				<p>
					Xestión de redes sociais. Manexo de word, outlook,
					powerpoint e excel. Experiencia traballando con Digibib,
					Atom, Photoshop, Ilustrator, Gimp e Koha.
				</p>
				<p>Nocións básicas de HTML, CSS e JS.</p>
    </section>
</Layout>