---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="experiencia">
        <p>
            <strong>Outubro 2023-Actualidade:</strong>Desenrrolo de aplicacións
            e productos multimedia no Concello de Santiago.
        </p>
        <p>
            <strong>Xuño 2023-Setembro 2023:</strong>Caixa e reposición no
            Mercadona do Milladoiro.
        </p>
        <p>
            <strong>Xuño 2022-Xuño 2023:</strong>Becaria na Biblioteca de
            Galicia.
        </p>

        <p>
            <strong>Decembro 2021-Xuño 2022:</strong>Azafata de eventos.
        </p>
    </section>
</Layout>
