<header>
  <div id="nav-bar">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <img src="/public/fotoperfil.jpg" alt="fotoperfil" />
  </div>
</header>

<style>

  header nav {
    background-color: #000000;
    color: #fff;
    padding: 5px;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  header nav ul li.active a {
    color: #000;
    background-color: #ddd;
  }
</style>
